{{ define "main" }}
<section class="castration fl p_relative modules">
    {{ if .IsHome }}
        <div class="castration cover p_relative atcCentral" style="background-image: linear-gradient(black, black), url(/img/cover/default.webp); background-blend-mode: saturation; background-position-y: 30% !important;">
            <div class="fl p_relative">
                <a title="Instagram" rel="nofollow" href="https://www.instagram.com/horrorprom" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a title="YouTube" rel="nofollow" href="https://www.youtube.com/@spirits-show" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
            <div class="fr p_relative">
                <a title="Discord" rel="nofollow" href="https://discord.com/users/morguenal" target="_blank">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                </a>
            </div>
            <div class="t_center castration base_width p_relative">
                <p>{{ i18n "soc_block_title" }}</p>
                <p>{{ i18n "soc_block_desc" | safeHTML }}</p>
            </div>
        </div>
    {{ end }}

    <ul id="content">
        {{ partial "widgets/last-posts.html" (dict "section" "articles" "num" 3 "partial" "widgets/post-card.html" "Site" .Site) }}
        {{ partial "widgets/last-posts.html" (dict "section" "articles" "num" 3 "library" "widgets/post-card.html" "Site" .Site) }}

        {{ $all := where .Site.RegularPages ".Params.hideFromCenter" "!=" true }}
        {{ $sorted := sort $all "Lastmod" "desc" }}
        {{ $exclArt := first 3 (where $sorted "Section" "articles") }}
        {{ $exclLib := first 3 (where $sorted "Section" "library") }}
        {{ $exclIDs := slice }}
        {{ range $exclArt }}
            {{ $exclIDs = $exclIDs | append .RelPermalink }}
        {{ end }}
        {{ range $exclLib }}
            {{ $exclIDs = $exclIDs | append .RelPermalink }}
        {{ end }}
        {{ $final := slice }}
        {{ range $sorted }}
            {{ if not (in $exclIDs .RelPermalink) }}
                {{ $final = $final | append . }}
            {{ end }}
        {{ end }}
        {{ $paginator := .Paginate $final .Site.Params.page.maxHomePostCount }}
        {{ range $paginator.Pages }}
            {{ partial "widgets/post-card.html" . }}
        {{ end }}
    </ul>

    <ul class="t_center not_twitch">
        {{ if $paginator.HasPrev }}
        <li class="page-numbers">
            <a title='{{ i18n "Page_page" }} {{ $paginator.Prev.PageNumber }}'
               class="page-numbers prev"
               href="{{ $paginator.Prev.URL }}">
                {{ i18n "pagination_previous" }}
            </a>
        </li>
        {{ end }}
        {{ range $paginator.Pagers }}
        <li class="page-numbers">
            {{ if eq .PageNumber $paginator.PageNumber }}
                <span title='{{ i18n "Page_page" }} {{ .PageNumber }}' class="page-numbers active">{{ .PageNumber }}</span>
            {{ else }}
                <a title='{{ i18n "Page_page" }} {{ .PageNumber }}'
                   href="{{ .URL }}"
                   class="page-numbers">
                   {{ .PageNumber }}
                </a>
            {{ end }}
        </li>
        {{ end }}
        {{ if $paginator.HasNext }}
        <li class="page-numbers">
            <a title='{{ i18n "Page_page" }} {{ $paginator.Next.PageNumber }}'
               href="{{ $paginator.Next.URL }}"
               class="page-numbers next">
                {{ i18n "pagination_next" }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>

{{ partial "widgets/aside.html" . }}
{{ end }}