{{ define "main" }}
    {{ $kind := .Kind }}
    {{ partial "widgets/aside.html" . }}

    <section class="castration fl p_relative modules">
        {{ if .IsHome }}
            {{- partial "layouts/shortcodes/soc-block.html" . -}}
        {{ end }}
        <ul id="content">
            {{ range first .Site.Params.page.maxHomePostCount .Site.RegularPages }}
                {{ if and (not .Params.hideFromCenter) (eq $kind "home") }}
                    {{ partial "widgets/post-card.html" . }}
                {{ end }}
            {{ end }}
        </ul>
    </section>
{{ end }}