<div class="center media_base_width p_relative breadcrumbs" prefix="v: http://rdf.data-vocabulary.org/#">
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item">
            <span itemprop="name">Phantom Draft</span>
        </a>
    </span>
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">
            Category:
            <a href="/categories/horror" itemprop="item">
                <span>Horror</span>
            </a>,
            <a href="/categories/mystery" itemprop="item">
                <span>Mystery</span>
            </a>
        </span>
    </span>
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">Collections</span>
    </span>
</div>