{{- $lang := .Site.Language.Lang -}}
{{- $localizedDescription := index .Site.Params.page ($lang | lower) "homeContent" -}}
    <!-- Open Graph metadata -->
    <meta property="og:type" content="{{ if .IsHome }}website{{ else if eq .Kind "page" }}article{{ else if or (eq .Kind "taxonomy") (eq .Kind "term") }}website{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}">
    <meta property="og:description" content="{{- if .Description -}}
        {{ .Description }}
    {{- else if .Summary -}}
        {{ .Summary }}
    {{- else if and .IsHome $localizedDescription -}}
        {{ $localizedDescription }}
    {{- else -}}
        Notes on Horror and Punk Subgenre Projects (including Biopunk, Mythpunk, Dreampunk, and others)
    {{- end -}}">
    <meta property="og:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.page.homeTopImg | absURL }}{{ end }}">
    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}">
    <meta name="twitter:description" content="{{- if .Description -}}
        {{ .Description }}
    {{- else if .Summary -}}
        {{ .Summary }}
    {{- else if and .IsHome $localizedDescription -}}
        {{ $localizedDescription }}
    {{- else -}}
        Notes on Horror and Punk Subgenre Projects (including Biopunk, Mythpunk, Dreampunk, and others)
    {{- end -}}">
    <meta name="twitter:image" content="{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.page.homeTopImg | absURL }}{{ end }}">
    <!-- Autor -->
    <meta name="author" content="{{ index .Site.Author.name (.Site.Language.Lang | default "en") }}">