<aside class="fr p_relative sidebar">
    <section class="update">

        <ul class="castration fr p_relative tabs-titles">
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-categories">
                    <span>Sections</span>
                </a>
            </li>
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-interesting">
                    <span>Polls</span>
                </a>
            </li>
            <li class="castration p_relative">
                <a class="base_width p_relative" href="#update-test">
                    <span>Online</span>
                </a>
            </li>
        </ul>

        <div class="castration fl p_relative inner">
            <div id="update-categories">
                <ul>
                    {{ range .Site.Taxonomies.categories }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
                    {{ end }}
                </ul>
            </div>
            <div id="update-interesting">
                <div class="commercial">
                    <h3>Spirits Show No.2</h3>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScLLd34np5Jx2rIE1k7qx8q7CvrzvYTkuspF7gEUkiuZdaN0g/viewform?embedded=true" loading="lazy" style="display: block; margin: auto;" width="300" height="500"></iframe>
                </div>

                <!-- <h3>It's not what it seems...</h3>
                <canvas id="root_biopunk" width="300" height="300" class="center">
                    <p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
                </canvas>

                <div id="associative_biopunk" style="display: none;">
                    <a href="#" onclick="return false">c</a>
                    <a href="#" onclick="return false">n</a>
                    <a href="#" onclick="return false">i</a>
                    <a href="#" onclick="return false">o</a>
                    <a href="#" onclick="return false">t</a>
                    <a href="#" onclick="return false">s</a>
                    <a href="#" onclick="return false">s</a>
                    <a href="#" onclick="return false">i</a>
                    <a href="#" onclick="return false">y</a>
                    <a href="#" onclick="return false">o</a>
                    <a href="/">#m</a>
                    <a href="/">#p</a>
                </div> -->
            </div>
            <div id="update-test">
                {{ partial "widgets/stat.html" . }}
            </div>
        </div>

    </section>
</aside>