<div class="castration aAva">
	{{ if index .Site.Author.link (.Site.Language.Lang | default "en") }}
		<a href='{{ index .Site.Author.link (.Site.Language.Lang | default "en") }}' rel='nofollow' target='_blank'>
			<img class='base_width' src='{{ index .Site.Author.image (.Site.Language.Lang | default "en") }}' loading='lazy' />
		</a>
	{{ else }}
		<img class='base_width' src='{{ index .Site.Author.image (.Site.Language.Lang | default "en") }}' loading='lazy' />
	{{ end }}
</div>

<p>
	{{ if index .Site.Author.link (.Site.Language.Lang | default "en") }}
		<a href='{{ index .Site.Author.link (.Site.Language.Lang | default "en") }}' rel='nofollow' target='_blank'>
			{{ index .Site.Author.name (.Site.Language.Lang | default "en") }}
		</a>
	{{ else }}
		<strong>
			{{ index .Site.Author.name (.Site.Language.Lang | default "en") }}
		</strong>
	{{ end }}
</p>