<li>
    <a class="castration" style="display: flex" href="{{ .RelPermalink }}">
        {{ with .Params.image }}
        <div class="castration fl" style="flex-shrink: 0; border-radius: 6px; margin-right: 5px; height: 50px; width: 50px; display: block">
            <img style="object-fit: cover; min-height: 100%; width: 100%" src="{{ . }}" loading="lazy" alt="{{ $.Title }}">
        </div>
        {{ end }}
        <h2 style="align-items: center; margin: 0 0; display: flex;">
            {{ .Title }}
        </h2>
    </a>
</li>