{{ $lastGroup := "" }}
{{ $firstNextGroup := "" }}
<!-- If there are groups on the current page -->
{{ if gt (len .Paginator.PageGroups) 0 }}
    <!-- Get the last group on the current page -->
    {{ $lastGroup = index .Paginator.PageGroups (sub (len .Paginator.PageGroups) 1) }}
{{ end }}
<!-- Check if the next page exists -->
{{ $followingPage := .Paginator.Next }}
{{ if $followingPage }}
    <!-- Get the groups on the next page -->
    {{ $followingPageGroups := $followingPage.PageGroups }}
    <!-- If there are groups on the next page -->
    {{ if gt (len $followingPageGroups) 0 }}
        <!-- Get the first group on the next page -->
        {{ $firstNextGroup = index $followingPageGroups 0 }}
    {{ end }}
{{ end }}
<!-- Compare the name of the last group on the current page with the first group on the next page -->
{{ if and (ne $lastGroup "") (ne $firstNextGroup "") (eq $lastGroup.Key $firstNextGroup.Key) }}
    <div class="t_center castration cover p_relative atcScreen">
        <p>Продолжение материалов за {{ $lastGroup.Key }} на следующей странице</p>
    </div>
{{ else if and (ne $lastGroup "") (ne $firstNextGroup "") }}
    <!-- <p>The groups on the current and next pages do not match</p> -->
{{ end }}