<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="t8jAWmyyFoU9OkD89rkuwkAqVJDTTIXOVQWqHpaznSM" />
    <!-- title -->
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}{{ if eq .Site.Language.Lang "uk" }} на українському{{ end }}{{ if eq .Site.Language.Lang "ru" }} на русском{{ end }}</title>
    <!-- meta description -->
    {{ $lang := .Site.Language.Lang }}
    {{ $taxonomyFile := printf "taxonomyDescriptions_%s" $lang }}
    {{ $taxonomyDescriptions := index .Site.Data.taxonomy $taxonomyFile }}
    {{ $taxonomyType := .Section }}
    {{ $taxonomyKey := .Title | lower | urlize }}
    <meta name="description" content="{{- if .Description -}}
        {{ .Description }}
    {{- else if .Summary -}}
        {{ .Summary }}
    {{- else if and $taxonomyType $taxonomyKey -}}
        {{- with index (index $taxonomyDescriptions $taxonomyType) $taxonomyKey -}}
            {{ . }}
        {{- else -}}
            Default description for {{ $taxonomyType }}.
        {{- end -}}
    {{- else -}}
        Notes on Horror and Punk Subgenre Projects.
    {{- end -}}">
    <!-- rel canonical -->
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- rel alternate : processing of the main page -->
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    <!-- rel alternate : all other transfers -->
    {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ end }}
    <!-- rel alternate : installing x-default on the English version -->
    {{- if eq .Lang "en" -}}
        <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
    {{- else -}}
        {{- range .Translations -}}
            {{- if eq .Lang "en" -}}
                <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
            {{- end -}}
        {{- end -}}
    {{ end }}
    <!-- rel icon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    {{ if and (eq .Section "stories") .IsPage }}
        {{- partial "head/stories/journal-init.html" . -}}
    {{ else if and (eq .Section "stories") .IsSection }}
        {{- partial "head/stories/hugr-init.html" . -}}
    {{ else }}
        {{- partial "head/hugr-init.html" . -}}
    {{ end }}
    <!-- Combined Google Analytics and Google Tag Manager -->
    <script>
        // Initialize dataLayer
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        // Google Analytics
        gtag('js', new Date());
        gtag('config', 'G-VB7SXFSJZ6');
        // Google Tag Manager
        (function(w,d,s,l,i){
            w[l]=w[l]||[];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window,document,'script','dataLayer','GTM-P5VL5MJD');
    </script>
</head>