<link rel="stylesheet" href='{{ "css/hugr.css?v=22.8" | relURL }}' />
<link rel="stylesheet" href='{{ "css/search.css" | relURL }}' />
<link rel="stylesheet" href='{{ "css/shortcode.css" | relURL }}' />
{{ "<!--[if lt IE 9]>" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="/css/lteIE9.css?v=0.1" />
{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if lt IE 8]>" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="/css/lteIE8.css?v=0.1" />
{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="/css/IE8.css?v=0.1" />
{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="/css/IE7.css?v=0.1" />
{{ "<![endif]-->" | safeHTML }}
<script type="text/javascript" src="/js/core/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/core/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/core/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
    <!-- Combined Google Analytics and Google Tag Manager -->
    <script>
        // Initialize dataLayer
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        // Google Analytics
        gtag('js', new Date());
        gtag('config', 'G-VB7SXFSJZ6');
        // Google Tag Manager
        (function(w,d,s,l,i){
            w[l]=w[l]||[];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window,document,'script','dataLayer','GTM-P5VL5MJD');
    </script>