<header id="hat" class="default">
  <div class="center p_relative in_the_middle">
    <div class="castration base_height fr p_relative search-form">
      <p class="query">Search...</p>
    </div>
    <nav class="base_height fl p_relative menu-main">
      <ul>
        <li class="fl">
            <a class="menuBtn" href="/page/about-us/" data-panel="inside">
              <span class="logo">Inside</span>
            </a>
        </li>
        {{ range .Site.Menus.main }}
          <li class="fl">
            <a
              class="menuBtn"
              href="{{ .URL }}"
              {{ with .Identifier }}data-panel="{{ . }}"{{ end }}
            >
              {{ .Pre }} {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <a id="pull" href="#" class="t_center base_height base_width p_relative">Menu</a>
</header>

<div class="p_fixed slidenav">
    <div data-panel-content="inside" class="inside-content" style="display:none;">
        <div class="content-block">
            <div class="content-list-col">
            {{ if and .Site.IsMultiLingual (not .Site.Params.Site.OnlyOneLang) }}
                {{ partial "widgets/selectLang.html" . }}
            {{ end }}
            </div>
        </div>
        <div class="content-block">
            <div class="content-list-col">
                <ul>
                {{ range .Site.Menus.social }}
                    <li><a href="{{ .URL }}" target="_blank">
                        {{ .Pre }} {{ .Name }}
                    </a></li>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <div data-panel-content="projects" class="projects-content" style="display:none;">
        <h3 class="t_center">
            {{ if eq .Site.Language.Lang "uk" }}Проєкти{{ else if eq .Site.Language.Lang "ru" }}Проекты{{ else }}Projects{{ end }}
        </h3>
        <div class="content-block">
            <div class="content-list-col">
                <ul>
                {{ range .Site.Menus.main }}
                    {{ if eq .Identifier "projects" }}
                        {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>