{{- $section := .Get "section" | default "articles" -}}
{{- $num := .Get "num" | default "3" | int -}}
{{- $itemPartial := .Get "partial" | default "" -}}

{{- $all := $.Site.RegularPages -}}
{{- $langPages := where $all ".Lang" $.Site.Language.Lang -}}
{{- $visible := where $langPages ".Params.hideFromCenter" "!=" true -}}
{{- $filtered := where $visible "Section" $section -}}

{{- /* Если "can't sort string" – вместо sort $filtered "Lastmod" "desc"
     можно: $filtered = $filtered.ByLastmod.Reverse */ -}}
{{- $sorted := sort $filtered "Lastmod" "desc" -}}

{{- $list := first $num $sorted -}}

{{- if eq $itemPartial "" -}}
<ul>
{{- range $list }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end }}
</ul>
{{- else -}}
{{- range $list }}
  {{ partial $itemPartial . }}
{{- end }}
{{- end -}}