<div class="castration cover p_relative atcCentral" style="background-image: linear-gradient(black, black), url(../necrounicorn/img/necrounicorn.webp); background-blend-mode: saturation; background-position-y: 20% !important;">
    <div class="fl">
        <a href="https://www.facebook.com/phantomdrafts/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/horrorprom" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/@spirits-show" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
    <div class="fr">
        <a href="https://discord.com/users/iamthesirenhead" target="_blank"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
    </div>
    <div class="t_center castration base_width p_relative">
        <h3>
            {{ .Site.Data.soc_block.site.Language.Lang.title }}
        </h3>
        <p>
            {{ .Site.Data.soc_block.site.Language.Lang.desc }}
        </p>
    </div>
</div>