<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet" />
<link type="text/css" href='{{ "css/introjs.min.css?v=1.0" | relURL }}' rel="stylesheet" />
<link type="text/css" href='{{ "css/stories/journal/hugr.css?v=4.3" | relURL }}' rel="stylesheet" />
<script type="text/javascript" src="/js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/stories/journal/turn.js"></script>
<script type="text/javascript" src="/js/stories/journal/jquery.fullscreen.js"></script>
<script type="text/javascript" src="/js/stories/journal/jquery.address-1.6.min.js"></script>
<script type="text/javascript" src="/js/stories/journal/wait.js"></script>
<script type="text/javascript" src="/js/stories/journal/onload.js"></script>
<script type="text/javascript" src="/js/intro.min.js"></script>