{{ define "main" }}
<div id="fb5-ajax">
    <div data-current="book5" class="fb5" id="fb5">

        <div class="fb5-preloader">
            <div id="wBall_1" class="wBall">
                <div class="wInnerBall"></div>
            </div>
            <div id="wBall_2" class="wBall">
                <div class="wInnerBall"></div>
            </div>
            <div id="wBall_3" class="wBall">
                <div class="wInnerBall"></div>
            </div>
            <div id="wBall_4" class="wBall">
                <div class="wInnerBall"></div>
            </div>
            <div id="wBall_5" class="wBall">
                <div class="wInnerBall"></div>
            </div>
        </div>

        <a href="{{ if eq .Lang "en" }}/stories/{{ else }}/{{ .Lang }}/stories/{{ end }}" id="fb5-button-back">Stories</a>

        <div class="fb5-bcg-book"></div>

        {{ partial "widgets/content-all.html" . }}

    </div>
</div>
{{ end }}