<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}" xmlns="http://www.w3.org/1999/xhtml">

    {{- partial "head/head.html" . -}}

    <body>

        {{- partial "widgets/privacy-policy.html" . -}}

        {{ if not .Params.hideFromGtag }}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5VL5MJD"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {{ end }}

        {{ if and (eq .Section "stories") .IsPage }}
            <!-- stories : journal -->
            {{- block "main" . }}{{- end }}
            {{- partial "footer/stories/journal-init.html" . -}}

        {{ else if and (eq .Section "stories") .IsSection }}
            <!-- stories -->
            <div class="container">
                {{- partial "header/stories/header.html" . -}}
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer/stories/hugr-init.html" . -}}

        {{ else }}
            <!-- other -->
            <div class="base_width p_relative wrap"> <div id="overlay" class="base_width p_fixed"></div>

                {{- partial "breadcrumbs.html" . -}}
                {{- partial "header/header.html" . -}}
                {{- partial "header/search.html" . -}}
                {{- partial "widgets/hero.html" . -}}

                <div id="container" class="center media_base_width p_relative clearfix">
                    {{- block "main" . }}{{- end }}
                </div>

                {{- partial "footer/footer.html" . -}}
            </div>

            {{ if .IsPage }}
                {{- partial "widgets/table-of-contents.html" . -}}
            {{ end }}
            {{- partial "footer/hugr-init.html" . -}}
            {{- partial "widgets/vars.html" . -}}
        {{ end }}

    </body>
</html>