{{ define "main" }}
    {{ partial "widgets/aside.html" . }}

    <section class="castration fl p_relative modules">
        <ul id="content">
            {{ if .IsNode }}
                <!-- Универсальная сортировка и пагинация -->
                {{ $sortedPages := sort .Pages "Lastmod" "desc" }}
                {{ $paginator := .Paginate $sortedPages }}
                {{ range $paginator.Pages }}
                    {{ if or (and (not .Params.hideFromCenter) (not .Params.hideFromSection)) }}
                        {{ partial "widgets/post-card.html" . }}
                    {{ end }}
                {{ end }}
            {{ else }}
                <!-- Альтернативный вывод, если это не списковая страница -->
                <p>{{ i18n "no_content_message" }}</p>
            {{ end }}
        </ul>

        <!-- Блок пагинации -->
        {{ if .IsNode }}
        <div class="pagination">
            {{ if $paginator.HasPrev }}
                <a href="{{ $paginator.Prev.URL }}" class="prev">{{ i18n "pagination_previous" }}</a>
            {{ end }}

            {{ range $paginator.Pagers }}
                <a href="{{ .URL }}" class="{{ if eq .PageNumber $paginator.PageNumber }}active{{ end }}">
                    {{ .PageNumber }}
                </a>
            {{ end }}

            {{ if $paginator.HasNext }}
                <a href="{{ $paginator.Next.URL }}" class="next">{{ i18n "pagination_next" }}</a>
            {{ end }}
        </div>
        {{ end }}
    </section>
{{ end }}
