{{ define "main" }}
    <section class="castration fl p_relative modules">
        {{ if .IsNode }}
            <ul id="content">
                {{ $filteredPages := where .Pages ".Params.hideFromSection" "!=" true }}
                {{ $filteredPagesWithoutPage := where $filteredPages "Section" "!=" "page" }}
                {{ $filteredPagesWithoutPage = where $filteredPagesWithoutPage ".Params.hideFromCenter" "!=" true }}
                {{ $filteredPagesWithPage := union $filteredPagesWithoutPage (where $filteredPages "Section" "==" "page") }}
                {{ $sortedPages := sort $filteredPagesWithPage "Lastmod" "desc" }}
                {{ $paginator := .Paginate $sortedPages }}

                {{ range $paginator.Pages }}
                    {{ partial "widgets/post-card.html" . }}
                {{ end }}
            </ul>
            <ul class="t_center not_twitch">
                {{ if $paginator.HasPrev }}
                <li class="page-numbers">
                    <a title="{{ i18n \"Page_page\" }} {{ $paginator.Prev.PageNumber }}" class="page-numbers prev" href="{{ $paginator.Prev.URL }}">
                        {{ i18n "pagination_previous" }}
                    </a>
                </li>
                {{ end }}
                {{ range $paginator.Pagers }}
                <li class="page-numbers">
                    {{ if eq .PageNumber $paginator.PageNumber }}
                        <span title="{{ i18n \"Page_page\" }} {{ .PageNumber }}" class="page-numbers active">{{ .PageNumber }}</span>
                    {{ else }}
                        <a title="{{ i18n \"Page_page\" }} {{ .PageNumber }}" href="{{ .URL }}" class="page-numbers">{{ .PageNumber }}</a>
                    {{ end }}
                </li>
                {{ end }}
                {{ if $paginator.HasNext }}
                <li class="page-numbers">
                    <a title="{{ i18n \"Page_page\" }} {{ $paginator.Next.PageNumber }}" href="{{ $paginator.Next.URL }}" class="page-numbers next">
                        {{ i18n "pagination_next" }}
                    </a>
                </li>
                {{ end }}
            </ul>
        {{ end }}
    </section>

    {{ partial "widgets/aside.html" . }}
{{ end }}