<script type="text/javascript" src="/js/core/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/stories/bookshelf.js"></script>
<script type="text/javascript">
	$(function() {
		Books.init();
	});

	document.addEventListener("DOMContentLoaded", function () {
		const notification = document.getElementById("privacy-notification");
		const acceptButton = document.getElementById("accept-privacy");
		const isAccepted = localStorage.getItem("privacyAccepted");

		if (isAccepted) {
			notification.classList.add("hide");
		}

		acceptButton.addEventListener("click", function () {
			localStorage.setItem("privacyAccepted", "true");
			notification.classList.add("hide");
		});
	});
</script>